.body {
    display: flex;
    flex-direction: column;
}
.navbar-nav {
    background-color: #333;
  }
  .navbar-nav a {
    float: left;
    color: white;
    margin: 0;
    text-decoration: none;
    width: 100px;
    height: 50px;
    text-align: center;
    padding: 12px 20px;
  }
  .navbar-nav a.active {
    background-color: rgb(99, 99, 101);
    color: white;
  }
  .container-sm {
    flex: 1 calc(10vh - 50px);
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 107, 21);
    border-radius: 10px;
    border-style: solid;
  }
  .container-sm a:hover {
    color: rgb(70, 70, 247);
  }
  
 